* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
}

main {
    margin: auto;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div {
    border: 2px solid black;
    margin: auto 10px;
    width: 100%;
    text-align: center;
    padding: 70px 0;
}

hr {
    
}

.social-img {
    font-size: 64px;
    margin: 1rem;
    color: #333;
}

.social-img:hover {
    color: #0077b5;
}